.country {
  background: var(--clr-elements);
  text-decoration: none;

  img {
    height: 13rem;
    object-fit: cover;
  }
  &-info {
    padding: 1.5rem;
    color: var(--clr-text-primary);
  }
  &-flex {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    .property {
      font-weight: 600;
    }
  }
  .other {
    color: var(--clr-text-secondary);
  }
}
