@import './variables.scss';
.nav {
  height: 5rem;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid $Dark-Gray-Light-Mode-Input;
  &-center {
    width: 90vw;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-btn {
    background: transparent;
    border: none;
    box-shadow: none;
    font-size: 1.5rem;
  }
}
