@import './variables.scss';
@import './mixins.scss';

.single-country {
  @include section-center;
  margin: 3rem auto;

  .single-btn {
    margin-bottom: 3rem;
    padding: 0.5rem 2rem;
  }
  .single-btn:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  h3 {
    margin: 1rem auto;
  }
  span {
    display: inline-block;
    margin-bottom: 0.5rem;
  }
  .property {
    font-weight: 600;
  }
  .left {
    margin-bottom: 2rem;
  }
  .right {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 900px) {
  .single-country-center {
    display: grid;
    gap: 5rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .single-country-info-properties {
    display: flex;
    justify-content: space-between;
  }
}

.border-countries {
  display: flex;
  align-items: center;
  gap: 2rem;
  .borders {
    display: flex;
    gap: 2rem;
  }
  .single-border {
    padding: 0.2rem 2rem;
    background: var(--clr-elements);
    border-radius: 5px;
    // border: 1px solid hsl(0, 0%, 52%);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
  }
}

.language {
  display: inline-block;
  margin-right: 0.2rem;
}
