/* 
FONTS
*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;800&family=Open+Sans:wght@300;600;800&display=swap');

/* 
VARIABLES
*/
:root {
  --Dark-Blue--Dark-Mode-Elements: hsl(209, 23%, 22%);
  --Very-Dark-Blue-Dark-Mode-Background: hsl(210, 34%, 24%);
  --Very-Dark-Blue-Light-Mode-Text: hsl(200, 15%, 8%);
  --Dark-Gray-Light-Mode-Input-: hsl(0, 0%, 52%);
  --Very-Light-Gray-Light-Mode-Background: hsl(0, 0%, 98%);
  --White-Dark-Mode-Text-Light-Mode-Elements: hsl(0, 0%, 100%);
}

.dark-theme {
  --clr-bg: hsl(209, 36%, 17%);
  --clr-elements: hsl(209, 23%, 22%);
  --clr-text-primary: hsl(0, 0%, 100%);
  --clr-text-secondary: hsl(0, 0%, 52%);
}

.light-theme {
  --clr-bg: hsl(0, 0%, 98%);
  --clr-elements: #fff;
  --clr-text-primary: hsl(200, 15%, 8%);
  --clr-text-secondary: hsl(0, 0%, 52%);
}

body {
  background-color: var(--clr-bg);
  color: var(--clr-text-primary);
  font-family: 'Open Sans';
}

/* 
RESET
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*
GLOBAL STYLES
*/

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
@media screen and(min-width:800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
}
ul {
  list-style: none;
}
img {
  width: 100%;
  display: block;
}
a {
  text-decoration: none;
}

/* BTN CLASSES */
.btn {
  text-transform: uppercase;
  color: var(--clr-text-primary);
  text-decoration: none;
  padding: 0.375rem 0.775rem;
  display: inline-block;
  font-weight: 700;
  font-size: 1rem;
  border: none;
  letter-spacing: 0.1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s linear;
}

/* IMPLEMENT DARK MODE */

/* LOADING */
.loading-container {
  height: calc(100vh - 5rem);
  display: grid;
  place-items: center;
}
.loading {
  width: 6rem;
  height: 6rem;
  border: 3px solid gray;
  border-radius: 50%;
  border-top-color: blue;
  animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
/* ERROR */
.error-center {
  width: 100%;
  min-height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.error {
  color: red;
}
